@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

.noteHeading {
    text-align: left;
}

.noteContent {
    text-align: left;
}

.noteTimestamp {
    text-align: left;
    color:#aaa;
    font-family:verdana;
    font-size:14px;    
}

.commentTextarea {
    width:100%
}